
//dark mode
$dark_blue: hsl(209, 23%, 22%);
$dark-mode_very_dark_blue: hsl(207, 26%, 17%);


//light mode
$light-mode_very_dark_blue: hsl(200, 15%, 8%);
$dark_gray: hsl(0, 0%, 52%);
$very_light_gray: hsl(0, 0%, 98%);

$white: hsl(0, 0%, 100%);
