@import './variables.scss';


.link{
  text-decoration: none;
  color: $color-very-dark-blue-text;
}

.country-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 16px;
    width: 250px; 
    text-decoration: none;
    cursor: pointer; 
    transition: transform 0.2s ease-in-out; 

    &:hover {
      transform: translateY(-5px); 
    }
}
  
.country-flag-container {
    width: 100%;
    height: 150px; 
    background-size: cover; 
    background-position: center; 
}

.country-info-container {
  padding-top: 1rem;
  padding-bottom: 2rem;
}



.country-flag {
    width: 100%;
    height: 100%; 
    display: block; 
    object-fit: cover; 
}

.country-name {
    font-size: 18px;
    margin: 16px;
    font-weight: $font-weight-bold; 
}

.country-detail {
    font-size: 16px;
    margin: 0 16px 8px 16px;

}

.strong{
  font-weight: $font-weight-normal; 

}

[data-theme='dark'] {
    .country-card {
        background: $color-dark-blue;
        color: $color-white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .country-name {
        color: $color-white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .country-detail {
        color: $color-white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}
