@import './variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 6rem;
    background-color: $color-white;
    color: $color-very-dark-blue-text;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.1);
    font-family: $font-family;

    @media (max-width: 768px) {
        padding: .5rem 1rem;
    }
    
    h1 {
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }

    

}


[data-theme='dark'] {

    .header {
        background-color: $color-dark-blue;
        color: $color-white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}



