@import './variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 3rem;
    background-color: $color-white;
    color: $color-very-dark-blue-text;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    
    h1 {
        font-size: 1.5rem;
        font-weight: 600;
        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }

    
    &.dark-mode {
        background-color: $color-dark-blue;
        color: $color-white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}



